@model SimplonAcademy.Models.Formation

@{
    ViewData["Title"] = "Inscription";
}

<h1 class="text-center">Inscription</h1>
<div class="d-flex gap-5 justify-content-between">
    <div class="w-50 p-5">
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DayStart)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DayStart)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DayEnd)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DayEnd)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TimeBeginning)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TimeBeginning)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TimeEnd)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TimeEnd)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Mode)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Mode)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Certification)
            </dt>
            <dd class="col-sm-10">
                @Html.Raw(@Model.Certification)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Presentation)
            </dt>
            <dd class="col-sm-10">
                @Html.Raw(@Model.Presentation)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Competences)
            </dt>
            <dd class="col-sm-10">
                @Html.Raw(@Model.Competences)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Ville)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ville.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FormationType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FormationType.Name)
            </dd>
        </dl>
    </div>
    <div class="w-50 d-flex justify-content-center align-items-center">
        <form class="w-75" method="post" name="google-sheet" asp-action="Inscription">
            <div class="form-group">
                <input type="hidden" name="FormationId" class="form-control" id="exampleInputPassword1" value="@Model.Id" placeholder="Nom">
            </div>
            <div class="form-group">
                <label>Nom</label>
                <input type="text" name="Nom" class="form-control" placeholder="Nom" required>
            </div>
            <div class="form-group">
                <label>Prenom</label>
                <input type="text" class="form-control" name="Prenom" placeholder="Prenom" required>
            </div>
            <div class="form-group">
                <label>Email address</label>
                <input type="email" class="form-control" name="Email" placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <label >Phone</label>
                <input type="number" class="form-control" name="Phone" placeholder="Phone" required>
            </div>
            <div class="form-group">
                <label>Job role</label>
                <input type="text" class="form-control" name="JobRole" placeholder="Job role" required>
            </div>
            <div class="form-group">
                <label>Campany name</label>
                <input type="text" class="form-control" name="CompanyName" placeholder="Campany name" required>
            </div>
            <div class="form-group">
                <label>Region</label>
                <input type="text" class="form-control" name="Region" placeholder="Region" required>
            </div>
            <div class="form-group">
                <label>Ville</label>
                <input type="text" class="form-control" name="Ville" placeholder="Ville" required>
            </div>
            <div class="form-group">
                <input type="hidden" class="form-control" name="FormationTitle" value="@Model.Title">
            </div>
            <div class="form-group">
                <input type="hidden" class="form-control" name="FormationMode" value="@Model.Mode">
            </div>
            <div class="form-group">
                <input type="hidden" class="form-control" name="FormationVille" value="@Model.Ville.Name">
            </div>
            <div class="form-group">
                <input type="hidden" class="form-control" name="FormationDateStart" value="@Model.DayStart">
            </div>
            <button type="submit" class="btn inscription w-100">Submit</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script>
    const scriptURL = 'https://script.google.com/macros/s/AKfycbyxHIWQAvPBzaYHhnrBKQORrkazi6uLlrbldZig2dLEODvfmFPfgCy-7WN5nx2qyPiyKA/exec';
    const form = document.forms['google-sheet'];

    form.addEventListener('submit', e => {
        e.preventDefault()
        fetch(scriptURL, { method: 'POST', body: new FormData(form) })
            .then(response => console.log('Success!', response))
            .catch(error => console.error('Error!', error.message))
        e.currentTarget.submit();
    })
</script>