@model List<SimplonAcademy.ViewModel.DashboardViewModel>
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";


    List<SelectListItem> Mode = new List<SelectListItem>()
    {
        new SelectListItem() { Text="presentiel", Value="presentiel"},
        new SelectListItem() { Text="distanciel", Value="distanciel"},
        new SelectListItem() { Text="hybride", Value="hybride"},
    };
}
<div class="d-flex flex-row p-2 justify-content-between">
    <div class="mr-2">
        <form class="comment-input d-flex" id="form" method="post" asp-controller="Dashboard" asp-action="CreateVille">
            <input type="text" name="name" class="form-control" placeholder="create ville..." />
            <button type="submit" class="btn btn-xs btn-primary">add</button>
        </form>
        <table class="table table-dark table-striped text-center">
            <tr>
                <th>Name</th>
                <th>action</th>
            </tr>
            @foreach (var item in ViewBag.ville)
            {
                <tr>
                    <td>
                        <form method="post" asp-action="EditVille">
                            <input type="text" name="Name" class="bg-transparent text-light border-0" value="@item.Name" />
                            <input type="hidden" name="id" value="@item.Id" />
                        </form>
                    </td>
                    <td style="width: 150px">
                        <div class="btn-group">
                            <form style="display:inline;" method="post" asp-controller="Dashboard" asp-action="DeleteVille">
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit" class="btn btn-xs btn-danger">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="mr-2">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            add formation
        </button>
        @foreach (var item in Model)
        {
            <div class="d-flex justify-content-center p-2 mb-2 bg-dark">
                <form class="comment-input d-flex text-light" id="form" method="post" asp-action="EditFormation">
                    <div>
                        <input type="hidden" name="id" class="form-control" value="@item.Id" />
                        <label>Start Day</label>
                        <input type="datetime" name="DayStart" class="form-control  text-light border-0 bg-transparent font-weight-bold" value="@item.DayStart" />
                        <label>End Day</label>
                        <input type="datetime" name="DayEnd" class="form-control  text-light border-0 bg-transparent font-weight-bold" value="@item.DayEnd" />
                        <label>start time</label>
                        <input type="time" name="TimeBeginning" class="form-control text-light border-0 bg-transparent font-weight-bold" value="@item.TimeBeginning.TimeOfDay" />
                        <label>end time</label>
                        <input type="time" name="TimeEnd" class="form-control text-light border-0 bg-transparent font-weight-bold" value="@item.TimeEnd.TimeOfDay" />
                    </div>
                    <div>
                        <label>title</label>
                        <input type="text" name="Title" class="form-control text-light border-0 bg-transparent font-weight-bold" value="@item.Title" />
                        <label>Description</label>
                        <input type="text" name="Description" class="form-control text-light bg-transparent font-weight-bold" value="@item.Description" />
                    </div>
                    @*<div>
                        <label>Competences</label>
                        <input type="text" name="Competences" class="form-control text-light border-0 bg-transparent font-weight-bold" value="@item.Competences" />
                        <label>Competences</label>Programme
                        <input type="text" name="Programme" class="form-control text-light border-0 bg-transparent font-weight-bold" value="@item.Programme" />
                        <input type="text" name="Admission" class="form-control text-light border-0 bg-transparent font-weight-bold" value="@item.Admission" />
                        <label>Presentation</label>
                        <input type="text" name="Presentation" class="form-control text-light border-0 bg-transparent font-weight-bold" value="@item.Presentation" />
                    </div>*@
                    <div>
                        <label>Mode</label>
                        <select name="Mode" asp-items="@Mode" id="stat" class="form-control custom-select">
                            <option value="@item.Mode">@item.Mode</option>
                        </select>
                        <label>Ville</label>
                        <select name="VilleId" asp-items="@(new SelectList(@ViewBag.ville,"Id","Name"))" class="form-control custom-select">
                            <option value="@item.Ville.Id">@item.Ville.Name</option>
                        </select>
                        <label>Type</label>
                        <select name="FormationTypeId" asp-items="@(new SelectList(@ViewBag.FormationType,"Id","Name"))" class="form-control custom-select">
                            <option value="@item.FormationType.Id">@item.FormationType.Name</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary m-1">edit</button>
                </form>
                <div>
                    <div class="btn-group">
                        <form method="post" asp-controller="Dashboard" asp-action="DeleteFormation">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" class="btn btn-xs btn-danger">Delete</button>
                        </form>
                        <a class="btn btn-secondary" asp-controller="Formations" asp-action="GetInscriptions" asp-route-id="@item.Id">Les inscrits</a>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="mr-2">
        <form class="comment-input d-flex" id="form" method="post" asp-controller="Dashboard" asp-action="CreateTypeFormation">
            <input type="text" name="name" class="form-control" placeholder="create type..." />
            <button type="submit" class="btn btn-xs btn-primary">add</button>
        </form>
        <table class="table table-dark table-striped text-center">
            <tr>
                <th>
                    Name
                </th>

                <th>Action</th>
            </tr>
            @foreach (var item in ViewBag.formationType)
            {
                <tr>
                    <td>
                        <form method="post" asp-action="EditTypeFormation">
                            <input type="text" name="Name" class="bg-transparent text-light border-0" value="@item.Name" />
                            <input type="hidden" name="id" value="@item.Id" />
                        </form>
                    </td>
                    <td style="width: 150px">
                        <div class="btn-group">
                            <form style="display:inline;" method="post" asp-controller="Dashboard" asp-action="DeleteTypeFormation">
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit" class="btn btn-xs btn-danger">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>



    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:1000px;">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">create formation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="comment-input" id="form" method="post" asp-controller="Dashboard" asp-action="CreateFormation">
                        <input type="text" name="Title" class="form-control" placeholder="title" />
                        <textarea type="text" name="Description" class="form-control" placeholder="Description"></textarea>
                        <select name="Mode" asp-items="@Mode" id="stat" class="form-control custom-select">
                            <option disabled selected>- Mode -</option>
                        </select>
                        <input type="date" name="DayStart" class="form-control" placeholder="Day" />
                        <input type="date" name="DayEnd" class="form-control" placeholder="Day" />
                        <input type="time" name="TimeBeginning" class="form-control" placeholder="TimeBeginning" />
                        <input type="time" name="TimeEnd" class="form-control" placeholder="TimeEnd" />
                        <textarea type="text" id="Certification" name="Certification" class="form-control" placeholder="Certification"></textarea>
                        <textarea type="text" id="Presentation" name="Presentation" class="form-control" placeholder="Presentation"></textarea>
                        <textarea type="text" id="Competences" name="Competences" class="form-control" placeholder="Competences"></textarea>
                        <select name="VilleId" asp-items="@(new SelectList(@ViewBag.ville,"Id","Name"))" class="form-control custom-select">
                            <option disabled selected>- ville  -</option>
                        </select>
                        <select name="FormationTypeId" asp-items="@(new SelectList(@ViewBag.formationType,"Id","Name"))" class="form-control custom-select">
                            <option disabled selected>- type formation  -</option>
                        </select>
                        <button type="submit" class="btn btn-primary w-100">add</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>

@*<div id="summernote"></div>*@



<script>
    $("#Competences").summernote({
        placeholder: "Competences ",
        tabsize: 2,
        height: 120,
        toolbar: [
            ["style", ["style"]],
            ["font", ["bold", "underline", 'italic', "clear"]],
            ["color", ["color"]],
            ["para", ["ul", "ol", "paragraph"]],
            ["table", ["table"]],
            ["insert", ["link", "picture", "video"]],
            ["view", ["fullscreen", "codeview", "help"]],
        ],
    });
    $("#Certification").summernote({
        placeholder: "Certification ",
        tabsize: 2,
        height: 120,
        toolbar: [
            ["style", ["style"]],
            ["font", ["bold", "underline", 'italic', "clear"]],
            ["color", ["color"]],
            ["para", ["ul", "ol", "paragraph"]],
            ["table", ["table"]],
            ["insert", ["link", "picture", "video"]],
            ["view", ["fullscreen", "codeview", "help"]],
        ],
    });
    $("#Presentation").summernote({
        placeholder: "Presentation ",
        tabsize: 2,
        height: 120,
        toolbar: [
            ["style", ["style"]],
            ["font", ["bold", "underline", 'italic', "clear"]],
            ["color", ["color"]],
            ["para", ["ul", "ol", "paragraph"]],
            ["table", ["table"]],
            ["insert", ["link", "picture", "video"]],
            ["view", ["fullscreen", "codeview", "help"]],
        ],
    });
</script>